*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial, Helvetica, sans-serif;

}



body{

height:100vh;
overflow:hidden;

}




/* BACKGROUND */


.background{

position:absolute;

width:100%;
height:100%;


background:

linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.55)
),

url("images/bg.jpg");


background-size:cover;

background-position:center;


filter:blur(7px);


transform:scale(1.08);

}



/* MAIN */


main{

position:relative;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

color:white;

}




.soon{


font-size:90px;

font-weight:200;

letter-spacing:15px;


opacity:0;

animation:appear 2s ease forwards;


}



@keyframes appear{

from{

opacity:0;

transform:translateY(20px);

}


to{

opacity:1;

transform:translateY(0);

}


}





/* SOCIAL */


.social{

position:absolute;

bottom:45px;

display:flex;

gap:30px;

}



.social img{

width:32px;

height:32px;

filter:invert(1);

transition:.3s;

}



.social img:hover{

transform:scale(1.15);

}





/* BURGER */


.burger{

position:absolute;

right:40px;

top:35px;

z-index:5;

cursor:pointer;

}



.burger span{

display:block;

width:35px;

height:2px;

background:white;

margin:8px;

}






/* GLASS MENU */


.menu{


position:fixed;

right:-350px;

top:0;


height:100vh;

width:350px;


background:

rgba(255,255,255,.15);


backdrop-filter:blur(20px);


transition:.5s;


z-index:10;


padding:50px;



}



.menu.active{

right:0;

}



.menu a{


color:white;

text-decoration:none;

font-size:35px;


}



.close{


font-size:45px;

color:white;

cursor:pointer;

margin-bottom:70px;


}







/* INFO PAGE */


.info{


background:white;

color:black;

overflow:auto;

}




.info-box{


padding:80px;

max-width:800px;


}



.info-box h1{


font-size:60px;

font-weight:300;

margin-bottom:50px;


}



.info-box p{


font-size:22px;

line-height:1.7;


}



.links{


margin-top:60px;

display:flex;

gap:30px;

}



.links a{


text-decoration:none;

color:black;

border-bottom:1px solid black;

padding-bottom:5px;

}